<div id="modal-save-tec-user-relationship-ticket" class="_default-modal hide">
  <main>
    <section class="content">
      <header>
        <h1>Vincular/Desvincular Técnico</h1>
        <a href="#">Fechar</a>
      </header>

      <form id="_form-tec-user-relationship-ticket" >
        <fieldset>
          <section class="_field-group">

            <article class="_field">
              <label for="tec_user">Técnico para prestar suporte</label>
              <select
                class="_default-select"
                name="tec_user">
              </select>
            </article>
            <article class="_wrapper-btn-clear">
              <button
                type="button"
                id="_btn-clear-value-tec-user">
                Limpar
              </button>
            </article>

          </section>
        </fieldset>

        <button
          class="_default-button"
          type="submit"
          id="_btn-submit-form-save-tec-user-relationship-ticket">
          Salvar
          <img src="/assets/enviar.svg" alt="enviar">
        </button>
      </form>
    </section>
  </main>
</div>
