<div id="modal-save-category" class="_default-modal hide">
  <main>
    <section class="content">
      <header>
        <h1 id="_title-modal">Cadastrar Categoria</h1>
        <a href="#">Fechar</a>
      </header>

      <form id="_form-category" >
        <fieldset>
          <section class="_field-group">
            <article class="_field">
              <label id="_id-category"></label>
            </article>

            <article class="_field">
              <label for="category">* Categoria</label>
              <input
                class="_default-input"
                type="text"
                name="category"
                required="required">
            </article>
          </section>
        </fieldset>

        <button
          class="_default-button"
          type="submit"
          id="_btn-submit">
          Salvar
          <img src="/assets/enviar.svg" alt="enviar">
        </button>
      </form>
    </section>
  </main>
</div>
