<div id="modal-register" class="_default-modal hide">
  <main>
    <section class="content">
      <header>
        <h1>Cadastrar Técnico de Suporte</h1>
        <a href="#">Fechar</a>
      </header>

      <form id="_form-register">
        <fieldset>
          <section class="_field-group">
            <article class="_field">
              <label for="name">* Nome</label>
              <input
                class="_default-input"
                type="text"
                name="name"
                required="required">
            </article>

            <article class="_field">
              <label for="email">* Email</label>
              <input
                class="_default-input"
                type="email"
                name="email"
                required="required">
            </article>

            <article class="_field">
              <label for="password">* Senha</label>
              <input
                class="_default-input"
                type="password"
                name="password"
                required="required">
            </article>

            <article class="_field">
              <label for="confirmPassword">* Confirmar senha</label>
              <input
                class="_default-input"
                type="password"
                name="confirmPassword"
                required="required"
                placeholder="Digite novamente a senha">
            </article>
          </section>
        </fieldset>

        <button
          class="_default-button"
          type="submit"
          id="_btn-submit">
          Cadastrar
          <img src="/assets/enviar.svg" alt="enviar">
        </button>
      </form>
    </section>
  </main>
</div>
