._default-select {
  width: 100%;
  background: #FFF;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.04);
  height: 52px;
  border-radius: 4px;
  outline: none;
  border: none;
  padding: 0 16px;
  font-size: 16px;
  border: 2px solid #FFF;
  transition: border-color 0.2s ease-in;
  appearance: none;
}

._default-select:focus {
  border-color: var(--primary);
}

._default-select:disabled {
  background-color: var(--neutral-30);
  border-color: var(--neutral-20);
  opacity: 1;
}
